---
// Favicon designed by OpenMoji – the open-source emoji and icon project. License: CC BY-SA 4.0

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
const description = 'Quickly generate the configuration to add custom tags to your Starlight website head.'
const ogImageUrl = new URL('/images/og.png', Astro.site)
const title = 'Starlight Head Generator'
---

<meta charset="utf-8" />

<title>{title}</title>

<link rel="canonical" href={canonicalUrl} />
<link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />

<meta name="author" content="HiDeoo" />
<meta name="color-scheme" content="dark" />
<meta name="description" property="og:description" content={description} />
<meta name="theme-color" content="hsl(222 47% 11%)" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:image" content={ogImageUrl} />
<meta property="og:image:alt" content={description} />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImageUrl} />
<meta name="twitter:image:alt" content={description} />
<meta name="twitter:title" content={title} />
